<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TrustWalletMobileAutomation">
    <listeners>
        <listener class-name="listeners.TestListener"/>
        <listener class-name="listeners.retry_transfrom.TransformAnnotation"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="Test on Android">
        <classes>
            <class name="tests.CreateNewWalletWithManualBackUpTest"/>
            <class name="tests.CreateNewWalletByWithSkipOptionTest"/>
            <class name="tests.BackUpSecretPhraseTest"/>
            <class name="tests.NegativeScenarioInCreateNewWalletTest"/>
            <class name="tests.SelectWrongSecretPhraseTest"/>
        </classes>
    </test>
</suite>
